body {
    background-color: rgb(36, 53, 63);
}

nav {
    background-color: rgb(36, 53, 63) !important;
    z-index: 999;
}

h1 {
    color: #17a2b8;
}

.box-shadow {
    box-shadow: 0.5rem 1rem 4rem 0.2rem rgb(0, 0, 0);
}

a:hover {
    text-decoration: underline !important;
}

input:focus {
    box-shadow: none !important;
}